body{
    font-family: 'Montserrat', sans-serif;
    width: 1024px;
    margin: auto;
    padding: auto;

}
.flexible-part{
    display: flex;
    margin-top: 80px;
}
.common-part{
    width: 40%;
    padding-left: 5%;
    text-align: justify;
    padding-right: 10px;
    color: gray;
}
.common-part img{
    width: 80%;
}
.orange-color{
    color: orange;
}
.common-part a{
    background-image: linear-gradient(tomato,orangered);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 70px;
    font-weight: 500;
}
.common-part h2{
    color: gray;
}
.gaping{
    margin-left: 5%;
    margin-top: 50px;
}
.image-resize img{
    width: 50%;
    height: 92%;
    margin-left: 170px;
    margin-top: 29px;
}
.background-add{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.text-gapping{
    margin-top: 20px;
}
.recipies-area{
    text-align: center;
    margin: 60px;
}
.recipies-area p{
    padding: 10px;
}
.recipies-item{
    box-shadow: 0px 0px 15px rgb(219, 219, 219);
    border: 10px solid white;
    border-radius: 15px;
    margin: 20px;
}
.recipies-item img{
    border-image: 20px;
    width: 100%;
}
.recipies-item h3{
    font-size: 10px;
}
.end-part{
    text-align: center;
    background-color: black;
    width: 100%;
    padding-bottom: 80px;
    margin-top: 100px;
}
.end-part h3{
    color: grey;
    padding-top: 30px;
}
.close-part{
    color: rgba(214, 219, 218, 0.863);
    background-color: rgba(58, 85, 126, 0.836);
    background-position: center;
    font-size: 10px;
}



