body{
    font-family: 'Montserrat', sans-serif;
    width: 1024px;
    margin: auto;
    padding: auto;

}
.flexible-part{
    display: flex;
    margin-top: 80px;
}
.common-part{
    width: 40%;
    padding-left: 5%;
    text-align: justify;
    padding-right: 10px;
    color: gray;
}
.common-part img{
    width: 80%;
}
.orange-color{
    color: orange;
}
.common-part a{
    background-image: linear-gradient(tomato,orangered);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 70px;
    font-weight: 500;
}
.common-part h2{
    color: gray;
}
.gaping{
    margin-left: 5%;
    margin-top: 50px;
}
.image-resize img{
    width: 50%;
    height: 92%;
    margin-left: 170px;
    margin-top: 29px;
}
.background-add{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.text-gapping{
    margin-top: 20px;
}
.recipies-area{
    text-align: center;
    margin: 60px;
}
.recipies-area p{
    padding: 10px;
    
}



